import(survey)
export(sqlsurvey, sqlmodelmatrix,sqlvar, svylm,
       sqlrepsurvey,sqlhexbin,sqlscatter,sqlsubst)

S3method(close,sqlsurvey)
S3method(open,sqlsurvey)
S3method(open, sqlmodelmatrix)
S3method(subset, sqlsurvey)
S3method(print,sqlsurvey)
S3method(dim,sqlsurvey)
S3method(dimnames,sqlsurvey)
S3method(dim,sqlmm)
S3method(svymean,sqlsurvey)
S3method(svytotal, sqlsurvey)
S3method(svyquantile, sqlsurvey)
S3method(svytable, sqlsurvey)
S3method(svylm, sqlsurvey)
S3method(svysmooth,sqlsurvey)
S3method(svyplot,sqlsurvey)
S3method(update,sqlsurvey)

S3method(print, sqlrepsurvey)
S3method(dim, sqlrepsurvey)
S3method(dimnames, sqlrepsurvey)
S3method(svymean, sqlrepsurvey)
S3method(svytotal,sqlrepsurvey)
S3method(subset, sqlrepsurvey)
S3method(svylm, sqlrepsurvey)
S3method(close,sqlrepsurvey)
S3method(open,sqlrepsurvey)
S3method(svyquantile, sqlrepsurvey)
S3method(svychisq,sqlrepsurvey)
S3method(svyloglin,sqlrepsurvey)
S3method(svysmooth,sqlrepsurvey)
S3method(svyplot,sqlrepsurvey)
S3method(svytable,sqlrepsurvey)


